@using Invest.Common.State
@model InvestPortal.Models.AddDocumentViewModel
@{
    ViewBag.Title = "title";
}
<script src="~/Scripts/chosen.jquery.min.js"></script>
<link href="~/Content/chosen.min.css" rel="stylesheet" />
<h2>
    Необходимые документы для проекта</h2>
@{
        List<string> documentList = ViewBag.DocumentList as List<string>;
    }
@using (Html.BeginForm())
{
    <fieldset>
        <small class="editor-label">
            @Html.LabelFor(model => model.Documents)
        </small>
        <blockquote class="editor-field" style="height: 100px">
            @Html.ListBoxFor(model => model.Documents, new SelectList(documentList), new { id = "cznTags", @style = "width: 100%; height: 70px !important;" })
            @Html.ValidationMessageFor(model => model.Documents)
        </blockquote>
        @Html.HiddenFor(t => t.PorjectId)
        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}
<script type="text/javascript">
    $("#cznTags").chosen();
</script>
