@model Invest.Common.Model.ProjectModels.Project

<div>
    <div class="example">
        Завершение проекта.
    </div>
    <div>
        @if (Model.WorkflowState.CurrenState == Invest.Common.State.ProjectStates.WaitForUserApproveDefectPlanComplete || Model.WorkflowState.CurrenState == Invest.Common.State.ProjectStates.WaitForUserApproveCompletion)
        {
            <a class="button success" href="~/BaseProject/UserApproveCompletion/@ViewBag.ProjectId" style="width:45%">Завершить</a>
        }
        
        @if (Model.WorkflowState.CurrenState == Invest.Common.State.ProjectStates.WaitForAdminApproveDefectPlanComplete || Model.WorkflowState.CurrenState == Invest.Common.State.ProjectStates.WaitForAdminApproveCompletion)
        {
            <a class="button success" href="~/BaseProject/AdminApproveCompletion/@ViewBag.ProjectId" style="width:45%">Завершить</a>
        }
        <a class="button warning" href="~/WorkflowActions/BackToTasks/@ViewBag.ProjectId" style="width:45%">К задачам</a>
    </div>
</div>