@model Invest.Common.Model.Project.Project

<h2>Проект на карте, ждем откликов от инвесторов.</h2>
@Html.ActionLink("Редактировать","FillProject","BaseProject",new { id = Model._id}, new {@class = "button success"})