@using Invest.Common.State
@model Invest.Common.Model.Project.Project

<h2>Ожидается комиссия</h2>
<div>
    <ul>
        @if (User.IsInRole("Admin"))
        {
            <li>
                @Html.ActionLink("Созвать комиссию", "Comission", "AdminActions", null, new { @class = "button success", @style = "width: 150px" })
            </li>
        }
        @foreach (ProjectWorkflow.Trigger trigger in ViewBag.AvaibleTriggers)
        {
            <li>
                @Html.ActionLink(trigger.ToString(), "Triggers", new { projectId = Model._id, @trigger = trigger.ToString() }, new
                {
                    @class = "button primary",
                    @style = "width: 150px"
                })
            </li>
        }
    </ul>
</div>
