@using Invest.Common.State
@model Investmogilev.Infrastructure.Common.Model.Project.Project

<h2>Ожидается исполком</h2>
@if (User.IsInRole("Admin"))
{
    <div>
        @Html.ActionLink("Созвать исполком", "Comission", "AdminActions", null, new { @class = "button success", @style = "width: 150px" })
    </div>
}
@{Html.RenderPartial("AllowActions");}