<header>
	<div class="content-wrapper">
		<div class="float-left">
			<p class="site-title">
				<a href="~/">ASP.NET Web API</a>
			</p>
		</div>
	</div>
</header>
<div id="body">
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>Библиотека!</h1>
			</hgroup>
			<table style="width:99%;">
				<tr>
					<td>
						<table>
							<tr><td>Введите регион: <input type="text" id="regionName" style="width:50px;" /></td></tr>
							<tr><td><button onclick="GetParametrsForRegion();return false;">Показать книгу</button></td></tr>
							<tr><td><button onclick="GetAllBooks();return false;">Показать все книги</button></td></tr>
						</table>
					</td>
					<td>
						<table>
							<tr><td>Id:</td><td><input type="text" id="addbookid" /></td></tr>
							<tr>  <td>Название:</td><td><input type="text" id="addbookName" /></td></tr>
							<tr> <td>Автор:</td><td><input type="text" id="addbookAuth" /></td></tr>
							<tr><td>Год издания:</td><td><input type="text" id="addbookYear" /></td></tr>
							<tr><td><button onclick="AddBook();return false;">Добавить новую книгу</button></td></tr>
						</table>
					</td>
					<td>
						<table>
							<tr><td>Удалить книгу по Id: <input type="text" id="delbookId" style="width:50px;" /></td></tr>
							<tr><td><button onclick="DeleteBook(); return false;">Удалить</button></td></tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</section>
	<section class="content-wrapper main-content clear-fix">
		<div id="divResult"></div>
	</section>
</div>
<script type="text/javascript">
	function GetAllBooks() {
		jQuery.support.cors = true;
		$.ajax({
			url: 'http://localhost/BookStoreService/api/values',
			type: 'GET',
			dataType: 'json',
			success: function (data) {
				WriteResponse(data);
			},
			error: function (x, y, z) {
				alert(x + '\n' + y + '\n' + z);
			}
		});
	}

	function AddBook() {
		jQuery.support.cors = true;
		var book = {
			BookId: $('#addbookid').val(),
			Name: $('#addbookName').val(),
			Author: $('#addbookAuth').val(),
			Year: $('#addbookYear').val()
		};

		$.ajax({
			url: '/api/parametr',
			type: 'POST',
			data: JSON.stringify(book),
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				WriteResponse(data);
			},
			error: function (x, y, z) {
				alert(x + '\n' + y + '\n' + z);
			}
		});
	}

	function DeleteBook() {
		jQuery.support.cors = true;
		var id = $('#delbookId').val()

		$.ajax({
			url: 'http://localhost/BookStoreService/api/values/' + id,
			type: 'DELETE',
			contentType: "application/json;charset=utf-8",
			success: function (data) {
				WriteResponse(data);
			},
			error: function (x, y, z) {
				alert(x + '\n' + y + '\n' + z);
			}
		});
	}

	function WriteResponse(books) {
		var strResult = "<table><th>ID</th><th>Название</th><th>Автор</th><th>Год издания</th>";
		$.each(books, function (index, book) {
			strResult += "<tr><td>" + book.BookId + "</td><td> " + book.Name + "</td><td>" +
			book.Author + "</td><td>" + book.Year + "</td></tr>";
		});
		strResult += "</table>";
		$("#divResult").html(strResult);
	}

	function ShowBook(book) {
		if (book != null) {
			var strResult = "<table><th>ID</th><th>Название</th><th>Автор</th><th>Год издания</th>";
			strResult += "<tr><td>" + book.BookId + "</td><td> " + book.Name + "</td><td>" +
			 book.Author + "</td><td>" + book.Year + "</td></tr>";
			strResult += "</table>";
			$("#divResult").html(strResult);
		}
		else {
			$("#divResult").html("No Results To Display");
		}
	}

	function GetParametrsForRegion() {
		jQuery.support.cors = true;
		var id = $('#regionName').val();
		$.ajax({
			url: 'api/parametr/' + id,
			type: 'GET',
			dataType: 'json',
			success: function (data) {
				ShowParametrs(data);
			},
			error: function (x, y, z) {
				alert(x + '\n' + y + '\n' + z);
			}
		});
	}
</script>