@using Invest.Common.Model.ProjectModels
@model IEnumerable<Project>
@{
    ViewBag.Title = "Активные задачи";
}
<h2>Активные задачи</h2>
@foreach (var project in Model)
{
    if (project.Tasks != null && project.Tasks.Any())
    {
        foreach (var task in project.Tasks)
        {
    <div class="list-group"  onclick="addSubTask('@task._id','@task.ProjectId')">
        @{Html.RenderAction("RecursiveTaskPartial", "Task", new { taskId = task._id, projectId = task.ProjectId });}
    </div>
        }
    }
}
