@using Invest.Common.Model.ProjectModels
@model IEnumerable<Project>
@{
    ViewBag.Title = "Активные задачи";
}
<h2>
    Активные задачи</h2>
@foreach (var project in Model)
{
    if (project.Tasks != null && project.Tasks.Any())
    {
    @Html.Telerik().TreeView().Name("TreeView" + project._id).BindTo(project.Tasks.Where(t => !t.IsComplete), mapping => mapping.For<Task>(binding => binding.ItemDataBound((item, task) =>
        {
            if (task.Milestone < DateTime.Now)
            {
                item.Text = task.Title + " просрочена на " + (DateTime.Now - task.Milestone).TotalDays.ToString("0.0") + " дней";
            }
            else
            {
                item.Text = task.Title + " осталось " + (task.Milestone - DateTime.Now).TotalDays.ToString("0.0") + " дней";
            }
            item.Value = task._id;
            item.Url("/Task/TaskDetails/" + task._id + "/" + project._id);
        }).Children(t =>
                        {
                            if (t != null && t.SubTask != null)
                            {
                                return t.SubTask.Where(st => !st.IsComplete);
                            }

                            return null;
                        }))).ExpandAll(true)
    }
}
