@using Invest.Common.Model.ProjectModels
@model IEnumerable<Project>
@{
    ViewBag.Title = "Выполненные задачи";
}
<h2>
    Выполненные задачи</h2>
@foreach (var project in Model)
{
    if (project.Tasks != null && project.Tasks.Any())
    {
        foreach (var task in project.Tasks.Where(t=>t.IsComplete))
        {
    <div class="list-group"  onclick="addSubTask('@task._id','@task.ProjectId')">
        @{Html.RenderAction("RecursiveTaskPartial", "Task", new { taskId = task._id, projectId = task.ProjectId });}
    </div>
        }
    }
}
