@using Invest.Common.Model.ProjectModels
@model IEnumerable<Project>
@{
    ViewBag.Title = "Выполненные задачи";
}
<h2>
    Выполненные задачи</h2>
@foreach (var project in Model)
{
    if (project.Tasks != null && project.Tasks.Any())
    {
    @Html.Telerik().TreeView().Name("TreeView" + project._id).BindTo(project.Tasks.Where(t => (t.IsComplete) || t.SubTask != null && t.SubTask.Any(st => st.IsComplete)), mapping => mapping.For<Task>(binding => binding.ItemDataBound((item, task) =>
        {
            item.Text = task.Title;
            item.Value = task._id;
            item.Url("/Task/TaskDetails/" + task._id + "/" + project._id);
        }).Children(t =>
                        {
                            if (t != null && t.SubTask != null)
                            {
                                return t.SubTask.Where(st => st.IsComplete);
                            }

                            return null;
                        }))).ExpandAll(false)
    }
}
