@using Invest.Common.Model.ProjectModels
@model IEnumerable<Project>
@{
    ViewBag.Title = "Мои задачи";
}
<h2>Мои задачи</h2>
<div class="listview-outlook" data-role="listview">
    @foreach (var project in Model.OrderBy(p => p.Tasks.Count()).Reverse())
    {
        if (project.Tasks != null && project.Tasks.Any())
        {
            <div class="list-group collapsed" style="margin-left:20px">
                <a href="~/Task/PlanForProject/@project._id" class="group-title">План для @project.Name</a>
                <div class="group-content">
                    @foreach (var task in project.Tasks)
                    {
                        { Html.RenderAction("RecursiveTaskPartial", "Task", new { taskId = task._id, projectId = task.ProjectId }); }
                    }
                </div>
            </div>

        }
        else
        {
            <a href="~/Task/PlanForProject/@project._id" class="list">
                <div class="list-content">
                    <span class="list-title">План для @project.Name</span>
                    <span class="list-subtitle">План пуст</span>
                    <span class="list-remark">@project.Description</span>
                </div>
            </a>
        }
    }
</div>