@using Invest.Common.Model.ProjectModels
@using Invest.Common.State
@using InvestPortal.Models
@model Project
@{
    ViewBag.Title = "Дорожная карта проекта " + Model.Name;
}
<h2>Дорожная карта проекта @Model.Name</h2>
@if (Model.Tasks != null && Model.Tasks.Any())
{
    foreach (var task in Model.Tasks)
    {
    <div class="list-group"  onclick="addSubTask('@task._id','@task.ProjectId')">
        @{Html.RenderAction("RecursiveTaskPartial", "Task", new { taskId = task._id, projectId = task.ProjectId });}
    </div>
    }
}
@if (Model.WorkflowState.CurrenState == ProjectStates.WaitForPlan)
{
    <input type="button" value="Добавить ключевую точку" onclick=" addCoreTask() " />
    <script type="text/javascript">
        function addCoreTask() {
            var link = '/Task/CreateSubTask/@Model._id/@Model._id';
            $.get(link, function (data) {
                $('#test').html(data);
                $('#test').show();
            });
        }

        function addSubTask(parentId, projectId) {
            var link = '/Task/CreateSubTask/' + parentId + '/' + projectId;
            $.get(link, function (data) {
                $('#test').html(data);
                $('#test').show();
            });
        }
    </script>
    <div id="test">
    </div>
    @Html.ActionLink("Потвердить созданный план", "CompleteFill", new { projectId = Model._id })
}
