<script src="~/Scripts/chosen.jquery.min.js"></script>
<link href="~/Content/chosen.min.css" rel="stylesheet" />
@if (User.Identity.IsAuthenticated)
{
    <ul class="dropdown-menu open keep-open" style="position: relative; z-index: 1">
        <li class="menu-title">Проекты</li>
        @if (User.IsInRole("Admin"))
        {
            <li><a href="/BaseProject/All">Все проекты</a></li>
            <li><a href="/BaseProject/">Действия по проектам</a></li>
        }
        else
        {
            <li><a href="/BaseProject/All">Все проекты</a></li>
            <li><a href="/BaseProject/">Мои проекты</a></li>
        }
        <li class="menu-title">Отчеты</li>
        @if (User.IsInRole("Investor"))
        {
            <li><a href="/InvestorActions/">Все отчеты</a></li>
            <li><a href="/InvestorActions/UnComplete">Задачи требующие отчета</a></li>
        }
        else
        {
            <li><a href="/AdminActions/">Все отчеты</a></li>
            <li><a href="/AdminActions/UnVerified">Новые отчеты</a></li>
        }
        <li class="menu-title">Уведомления</li>
        <li><a href="/Notification/">Все уведомления</a></li>
        <li><a href="/Notification/All">@string.Format("Новые уведомелния {0}", "")</a></li>
        <li><a href="/Message/">Все сообщения</a></li>
        <li><a href="/Message/Unreaded">Непрочитанные сообщения </a></li>
        <li><a href="/Message/UnreadedSent">Отправленные непрочитанные сообщения</a></li>
        @if (User.IsInRole("Admin"))
        {
            <li class="menu-title">Задачи</li>
            <li><a href="/TaskTemplate">Шаблоны задач</a></li>
            <li><a href="/MailTemplate">Шаблоны писем</a></li>
        }
        <li class="menu-title">Пометки</li>
        <li><a href="/Notes/All">Мои пометки</a></li>
    </ul>
    <div class="button small" onclick="showfeedBack('@Request.Url')">Обратная связь</div>
}
else
{
    <ul class="dropdown-menu open keep-open" style="position: relative; z-index: 1"></ul>
}
<script>
    var showfeedBack = function (requestUrl) {
        var linkToCreate = '/Feedback/CreateIssue?baseUri=' + requestUrl; 
        $.ajax({
            url: linkToCreate,
            dataType: 'html',
            success: function (data) {
                $.Dialog({
                    shadow: true,
                    overlay: true,
                    width: 600,
                    flat: true,
                    icon: '<span class="icon-floppy"></span>',
                    title: 'Обратная связь',
                    content: data
                });
            }
        });
    };
</script>