@{
    Layout = "~/Views/Shared/_InvestorEntryLayout.cshtml";
    ViewBag.Title = "Отклик на проект";
}

@{
    ViewBag.Title = "Index";
}

<h2>Отклик на проект</h2>

<div>
    Спасибо за отклик! В ближайшее время с вами свяжутся
</div>