@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.0.2.min.js"></script>
<link href="~/Scripts/css/jquery-jvectormap.css" rel="stylesheet" />
<script src="~/Scripts/js/highcharts-more.js"></script>
<script src="~/Scripts/js/highcharts.js"></script>
<script src="~/Scripts/js/exporting.js"></script>
<script src="~/Scripts/js/min.js"></script>
<script src="~/Scripts/js/BLR_adm2.js"></script>
<link href="~/Scripts/css/jquery-jvectormap.css" rel="stylesheet" />

<script type="text/javascript">
	$(document).ready(function () {
		var regionSelected = 0;
		var palette = ['#66C2A5', '#FC8D62', '#8DA0CB', '#E78AC3', '#A6D854', '#ff3800', '#15e9c3', '#4e3983', '#a39a9a', '#000000', '#617f04', '#f91d56', '#d2a20c', '#d9d9d9', '#09676c'];
		map = new jvm.WorldMap({
			map: 'map',
			container: $('.map'),
			regionsSelectable: true,
			series: {
				regions: [{
					attribute: 'fill'
				}]
			},
			onRegionLabelShow: function (event, label, code) {
				label.html(
						code
				)
			},
			backgroundColor: 'transparent',
			onRegionSelected: function (event, label, code) {
				for (var seria in $('#dynamicLine').highcharts().series) {
					$('#dynamicLine').highcharts().series[seria].remove();
					$('#dynamicSpider').highcharts().series[seria].remove();
				}
				for (var seria in $('#dynamicLine').highcharts().series) {
					$('#dynamicLine').highcharts().series[seria].remove();
					$('#dynamicSpider').highcharts().series[seria].remove();
				}
				for (var seria in $('#dynamicLine').highcharts().series) {
					$('#dynamicLine').highcharts().series[seria].remove();
					$('#dynamicSpider').highcharts().series[seria].remove();
				}
				for (var selectedRegion in map.getSelectedRegions()) {
					for (var seria in series) {
						if (series[seria].name == map.getSelectedRegions()[selectedRegion]) {
							$('#dynamicLine').highcharts().addSeries(series[seria])
							$('#dynamicSpider').highcharts().addSeries(series[seria])
						}
					}
				}
			}
		});
		transX = 100,
			transY = 100,
			generateColors = function () {
				var colors = {},
			key;
				for (key in map.regions) {
					colors[key] = palette[Math.floor(Math.random() * palette.length)];
				}
				return colors;
			};

		map.series.regions[0].setValues(generateColors());
	});
</script>
<div class="row-fluid">
	<div class="span12">
		<div class="map" style="height: 300px">
		</div>
	</div>
	<div class="span12">
		<div class="charts container" style="width: 1000px; height: 200px">
			<div id="dynamicLine" style="width: 600px; height: 300px">
				<script type="text/javascript">
					var series = [{
						name: 'Dribin',
						data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
					}, {
						name: 'Horki',
						data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
					}, {
						name: 'Mogilev',
						data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
					}, {
						name: 'Bihov',
						data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
					}];

					$(document).ready(function () {

						$('#dynamicLine').highcharts({
							title: {
								text: 'Динамика развития районов',
								x: -20 //center
							},
							subtitle: {
								text: 'Источник: белстат',
								x: -20
							},
							xAxis: {
								categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
							},
							yAxis: {
								title: {
									text: 'Интегральный коэффициент'
								},
								plotLines: [{
									value: 0,
									width: 1,
									color: '#808080'
								}]
							},
							tooltip: {
								valueSuffix: '%'
							},
							legend: {
								layout: 'vertical',
								align: 'right',
								verticalAlign: 'middle',
								borderWidth: 0
							}
						});
					});
				</script>
			</div>
			<div id="dynamicSpider" style="width: 600px; height: 400px">
				<script type="text/javascript">
					$(function () {
						$('#dynamicSpider').highcharts({
							chart: {
								polar: true,
								type: 'line'
							},
							title: {
								text: 'Budget vs spending',
								x: -80
							},
							pane: {
								size: '80%'
							},
							xAxis: {
								categories: ['Инвестиции', 'Промышленность', 'Услуги', 'Строительство', 'Торговля', 'Демография', 'Инвестиции', 'Блабла', 'ТаТа', 'Пум', 'Хпум', 'ТРям'],
								tickmarkPlacement: 'on',
								lineWidth: 0
							},
							yAxis: {
								gridLineInterpolation: 'polygon',
								lineWidth: 0,
								min: 0
							},
							tooltip: {
								shared: true,
								pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}%</b><br/>'
							},
							legend: {
								align: 'right',
								verticalAlign: 'top',
								y: 100,
								layout: 'vertical'
							}
						});
					});
				</script>
			</div>
			<div id="currentSpider">
			</div>
		</div>
	</div>
</div>
<div id="selectedRegions">
</div>
