@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
	#googft-mapCanvas {
		height: 300px;
		margin: 0;
		padding: 0;
		width: 500px;
	}

	#mapCanvas img {
		max-width: none;
	}

	#mapCanvas label {
		max-width: none;
		width: auto;
		display: inline;
	}
</style>

<script type="text/javascript">
	var map;
	$(document).ready(function () {

		map = new GMaps({
			el: '#map',
			lat: 53.6,
			lng: 30.623333,
			zoom: 8,
			zoomControl: true,
			zoomControlOpt: {
				style: 'SMALL',
				position: 'TOP_LEFT'
			},
			panControl: false,
			streetViewControl: false,
			mapTypeControl: false,
			overviewMapControl: false
		});

		map.loadFromFusionTables({
			query: {
				select: "col2",
				from: "1EOvuz_bSq6mL7_FdZuzfLER0ZRJ32Jke3RRh2wA",
				where: "col5 = 1"
			},
			options: {
				styleId: 2,
				templateId: 2
			},
			suppressInfoWindows: true,
			events: {
				click: function (point) {
					$('#info').html(point.infoWindowHtml)
				}
			}
		});
	});
</script>

<div class="row">
	<div class="span10">
		zsdzxcvx
		<div class="google-maps" id="map"></div>
	</div>
	<div class="span2">
		<div id="info"></div>
	</div>
</div>