@media (min-width: 980px) {
    body { padding-top: 20px; }
}

.map-container {
    auto;
    height: 700px;
    !
    important width
    :
    important display
    !
    important;
    :
    inline;
    !
    max-width: none;
}

.hidden { visibility: hidden; }

img { max-width: none; }

#left { }

#mid { height: 700px; }

#right { }

#inner { height: 700px; }

#footer {
    background-color: #ffff00;
    min-height: 100px;
}

.project {
    background-color: #808080;
    min-height: 100px;
}

#googft-info-window { visibility: hidden; }

#googft-mapCanvas {
    height: 700px;
    margin: 0px;
    padding: 0;
}