@model Investmogilev.Infrastructure.Common.Model.Project.Project
@{
    ViewBag.Title = "Заполнить проект";
}
<h2>Заполнить проект</h2>
<div>
    @Html.ActionLink("К моим проектам", "Index", null, new { @class = "icon-arrow-left-3 fg-darker big" })
</div>
<script src="~/Scripts/chosen.jquery.min.js"></script>
<link href="~/Content/chosen.min.css" rel="stylesheet" />
</br>
<div class="balloon top" style="width:500px">
    <p style="margin:20px">Необходимо заполнить проект всей доступной по нему информацией.</p>
    <p style="margin:20px">Так же крайне важно проверить адрес так, как не известно является ли он верным и отобразится на карте.</p>
   
</div>
<script>
    $(document).ready(function () {
        var link = '/BaseProject/@Model.GetType().Name' + 'Project/@Model._id';
        $.get(link, function (data) {
            $('#polymorphicEdit').html(data);
            $('#polymorphicEdit').show();
        });
    });
</script>
<style>
    #container {
        width: 95%;
    }

    #polymorphicEdit {
        float: left;
        margin-left: 10px;
        width: 99%;
    }
</style>
<div id="container">
    <div id="polymorphicEdit">Загружется...</div>
</div>
