@model IEnumerable<Investmogilev.Infrastructure.Common.Model.Project.Project>
@{
    ViewBag.Title = "Мои проекты";
}
<h2>Мои проекты</h2>
<div class="accordion" data-role="accordion">
    @foreach (var project in Model.OrderBy(t => (int)(t.WorkflowState.CurrentState)).Reverse())
    {
        <div style="margin-top: 10px; margin-bottom: 0px; border: 1px #ccc solid;">
            <div style="margin: 7px;">
                <h3>Прогресс по проекту @project.Name</h3>
                @{Html.RenderAction("WorkFlowForProjectPartial", "BaseProject", new { id = project.Id });}
            </div>
        </div>
    }
</div>
<script type="text/javascript">
</script>
