@{
    Layout = "~/Views/Shared/_InvestorEntryLayout.cshtml";
    ViewBag.Title = "Отклик на проект";
}
<h2>
    Ваш отклик на проект
</h2>
<script>
    window.onload = function () {
        loadResponseForm('New');
    }

    loadResponseForm = function (type) {
        $('#container').html("");
        var link = '/InvestorEntry/' + type + 'ResponseToProject/' + '@ViewBag.ProjectId';
        $('#New').attr("class", "button");
        $('#Existing').attr("class", "button");
        $('#' + type).attr("class", "button success");

        $('#polymorphicEdit').html("загружается...");
        $.get(link, function (data) {
            $('#container').html(data);
            $('#container').show();
        });
    }
</script>
<div>
    <div>
        <div id="New" class="button" onclick="loadResponseForm('New')">Новый пользователь</div>
        <div id="Existing" class="button" onclick="loadResponseForm('Existing')">Зарегестрированный пользователь</div>
    </div>
    <div id="container" style="width:400px">
    </div>
</div>
