/*!
 * avgrund 0.1
 * http://lab.hakim.se/avgrund
 * MIT licensed
 *
 * Created by Hakim El Hattab, http://hakim.se
 */
 
.avgrund-active body {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.avgrund-cover {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}

.avgrund-active .avgrund-cover {
    opacity: 1;
    visibility: visible;
}

.avgrund-contents {
    height: 100%;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    position: relative;
}

.avgrund-active .avgrund-contents {
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.no-blur.avgrund-active .avgrund-contents {
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    -webkit-filter: none;
    filter: none;
}

.avgrund-popup {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    background: white;
    border-radius: 3px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    height: 180px;
    left: 50%;
    margin: -130px 0 0 -190px;

    opacity: 0;
    padding: 20px;
    position: absolute;

    top: 50%;
    transform: scale(0.8);
    visibility: hidden;
    width: 340px;
    z-index: 2;
}

.avgrund-active .avgrund-popup-animate {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);

    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: 1;
    transform: scale(1.1);
    visibility: visible;
}

.avgrund-popup.stack {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.avgrund-active .avgrund-popup.stack {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.avgrund-ready body,
.avgrund-ready .avgrund-contents,
.avgrund-ready .avgrund-popup,
.avgrund-ready .avgrund-cover {
    -moz-transform-origin: 50% 50%;
    -moz-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -ms-transform-origin: 50% 50%;
    -ms-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transform-origin: 50% 50%;

    -o-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transform-origin: 50% 50%;
    transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.avgrund-ready .avgrund-popup.no-transition {
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}