body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.rightContainerBigScreen {
    float: right;
    height: 100%;
    width: 73%;
}

.rightContainerSmallScreen {
    float: right;
    height: 100%;
    width: 99%;
}

.leftContainerBigScreen {
    float: left;
    height: 100%;
    margin-left: 20px;
    min-width: 220px;
    overflow: auto;
    width: 25%;
}
.hidden { visibility: hidden; }
.leftContainerSmallScreenHide {
}
.leftContainerSmallScreenShow {
    height: 100%;
    width: 99%;
}

.tag {
    min-width: 160px;
    width: 49%;
}

.metro .button.success.tag {
    background-color: rgb(40, 145, 21) !important;
    color: #ffffff !important;
}

.gm-style img {
    max-width: none;
}

.gm-style label {
    display: inline;
    width: auto;
}

body, html {
    height: 100%;
    width: 100%;
}

header {
    height: 45px;
}

.metro .page {
    margin: 0 auto;
    padding: 0 20px;
    width: 980px;
}

.metro .button.Template {
    min-width: 160px;
    width: 49%;
}

.metro .button.UnUsedBuilding {
    min-width: 160px;
    width: 49%;
}

.metro .button.GreenField {
    min-width: 160px;
    width: 49%;
}

.metro .button.perechen {
    min-width: 160px;
    width: 49%;
}

.metro .button.success.Template {
    background-color: blueviolet !important;
    color: #ffffff !important;
    min-width: 160px;
    width: 49%;
}

.metro .button.success.UnUsedBuilding {
    background-color: brown !important;
    color: #ffffff !important;
    min-width: 160px;
    width: 49%;
}

.metro .button.success.GreenField {
    background-color: #60a917 !important;
    color: #ffffff !important;
    min-width: 160px;
    width: 49%;
}

.metro .button.success.perechen {
    background-color: #4390df !important;
    color: #ffffff !important;
    min-width: 160px;
    width: 49%;
}

.displayTitle {
    color: #000000;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 0.00em;
    letter-spacing: 0.01em;
    line-height: 24pt;
}

.description {
    margin: 10px 0;
}

.show-grid .row [class*="span"] {
    background: rgba(193, 179, 123, 0.52);
    line-height: 40px;
    min-height: 10px !important;
    text-align: center;
}

.color-stack li,
#icon-list li {
    margin-bottom: 5px;
}

.example > img {
    display: inline-block;
    margin: 5px;
}

.example .image-container {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.myClass thead tr {
    background-color: #1ba1e2;
    color: #ffffff;
}

.layout {
    min-height: 100%;
    position: relative;
}

header {
    height: 45px;
    position: relative;
}

.introduce {
    height: 170px;
}

.introduce_r {
    height: 75px;
}

.download_link {
    background: #c75050 !important;
}

    .download_link:hover {
        background: #e04343 !important;
    }

    .download_link:active {
        background: #b01919 !important;
    }

.footer_spacer {
    height: 40px;
}

footer {
    height: 25px;
    width: 100%;
}
