.loader { top: 50%; }

/* Demo specific styles end */

/* Loader with three blocks */

.loader, .loader:before, .loader:after {
    animation: loading 4s cubic-bezier(.1, .85, .9, .15) infinite, loading-opacity 2s ease-in-out infinite alternate;
    background: linear-gradient(to right, teal 0px, teal 10px, transparent 10px) no-repeat 0px 0px/10px 10px;
    content: ' ';
    display: inline-block;
    height: 10px;
    position: absolute;
    width: 100%;
    z-index: 100000;
}

.loader { animation-delay: .1s; }

.loader:after { animation-delay: .2s; }

@keyframes loading-opacity {
    0% { opacity: 0; }

    50% { opacity: 1; }

    100% { opacity: 1; }
}

@keyframes loading {
    0% { background-position: -50% 0px; }

    100% { background-position: 150% 0px; }
}

/* 2 more loading blocks */

.loader.more:before, .loader.more:after {
    animation: loading 4s cubic-bezier(.1, .85, .9, .15) infinite, loading-font 4s cubic-bezier(.1, .85, .9, .15) infinite !important;
    color: teal;
    content: ' ■';
    font-family: "Times New Roman";
    font-size: 22px;
    line-height: 6px;
    top: 0;
    vertical-align: top;
}

.loader.more:before { animation-delay: 0s, .2s !important; }

.loader.more {
    animation: loading 4s cubic-bezier(.1, .85, .9, .15) infinite, loading-opacity 2s ease-in-out infinite alternate;
    animation-delay: .6s, .4s !important;
    opacity: 0;
    overflow: hidden;
}

.loader.more:after { animation-delay: .4s, .8s !important; }

@keyframes loading-font {
    0% { text-indent: calc(-50% - 5px); }

    100% { text-indent: calc(150% - 10px); }
}