@media (min-width: 980px) {
    body { padding-top: 20px; }
}

.map-container {
    auto;
    height: 760px;
    !
    important width
    :
    important display
    !
    important;
    :
    inline;
    !
    max-width: none;
}

.displayTitle {
    color: #000000;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 0.00em;
    letter-spacing: 0.01em;
    line-height: 24pt;
}

.hidden { visibility: hidden; }

img { max-width: none; }

#left { }

#mid { height: 760px; }

#right { }

#inner { height: 760px; }

#footer {
    background-color: #ffff00;
    min-height: 100px;
}

.project {
    background-color: #808080;
    min-height: 100px;
}

#googft-info-window { visibility: hidden; }

#googft-mapCanvas {
    height: 760px;
    margin: 0px;
    padding: 0;
}