/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: grey;
    color: #696969;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    font-size: 75%;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#editor {
    max-height: 300px;
    overflow: scroll;
}

header,
footer,
nav,
section { display: block; }


/* Upload */

.t-dropzone-active,
.t-upload-files { border-color: #e5e5e5; }

.t-dropzone-hovered,
.t-upload-files { background-color: #e5e5e5; }

.t-dropzone em { color: #9b9b9b; }

.t-progress {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.t-progress-status {
    background-color: #309b46;
    border-color: #309b46;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 { padding: 0 0 10px 0; }

h3 { font-size: 1.2em; }

h4 { font-size: 1.1em; }

h5, h6 { font-size: 1em; }

a { color: #696969; }

li { line-height: 1.6; }

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */

.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 { margin-top: 0; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */

.page {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

header, #header {
    color: #000;
    margin-bottom: 0px;
    padding: 0;
    position: relative;
}

header h1, #header h1 {
    border: none;
    color: #fff;
    font-size: 32px !important;
    font-weight: bold;
    line-height: 2em;
    margin: 0;
    padding: 5px 0;
}

#main {
    background: #fff;
    margin-bottom: 30px;
    padding: 30px 30px 15px 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

footer, #footer {
    color: #999;
    font-size: .9em;
    height: 5%;
    line-height: normal;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

/* MENU   
----------------------------------------------------------*/

#menu {
    height: 5%;
    margin: 0;
    position: relative;
    text-align: right;
}

#menu .t-item { border-width: 0 0 0 1px; }

#menu .t-link {
    font-weight: bold;
    line-height: 1.8em;
    padding: 5px 20px;
    text-decoration: none;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea { min-height: 75px; }

input[type="text"] {
    border: 1px solid #CCC;
    width: 200px;
}

input[type="password"] {
    border: 1px solid #CCC;
    width: 200px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    border: solid 1px #e8eef4;
    padding: 5px;
}

table th {
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
    padding: 6px 5px;
    text-align: left;
}

/* MISC  
----------------------------------------------------------*/

.clear { clear: both; }

.error { color: Red; }

div#title {
    display: block;
    text-align: left;
}

#logindisplay {
    color: White;
    display: block;
    font-size: 1.1em;
    margin: 10px;
    text-align: right;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #ffeeee;
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

/* Styles for editor and display helpers
----------------------------------------------------------*/

.display-label,
.editor-label { margin: 1em 0 0 0; }

.display-field,
.editor-field { margin: 0.5em 0 0 0; }

.text-box { width: 30em; }

.text-box.multi-line { height: 6.5em; }

.tri-state { width: 6em; }