html .t-upload {
    background: 0;
    border-width: 0;
    position: relative; /*possibly unneeded as the style is applied to an inner element as well*/
}

.t-dropzone, .t-upload-files {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.t-dropzone em, .t-upload-button { vertical-align: middle; }

* + html .t-dropzone em, * + html .t-widget .t-upload-button { vertical-align: baseline; }

* html .t-dropzone em, * html .t-widget .t-upload-button { vertical-align: baseline; }

.display-field {
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}

textarea {
    border: 1px #d9d9d9 solid;
    height: 88px;
    padding: 5px;
    width: 100%;
    z-index: 1;
}

input[type=text] {
    border: 1px #d9d9d9 solid;
    height: 34px;
    padding: 5px;
    width: 100%;
    z-index: 1;
}

input[type="checkbox"] {
    background-color: #ffffff;
    border: 2px #d9d9d9 solid;
    display: inline-block;
    height: 20px;
    margin: 0 5px 0 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 20px;
}

.t-dropzone {
    background-color: transparent;
    border-style: solid;
    border-width: 0;
    padding: 4px;
}

.t-dropzone em {
    margin-left: .6em;
    visibility: hidden;
}

.t-dropzone-active {
    border-width: 1px;
    padding: 3px;
}

.t-dropzone-active em { visibility: visible; }

.t-upload-button {
    background-color: #60a917 !important;
    color: #ffffff !important;
    font-size: 100%;
    margin: 0;
    overflow: hidden !important; /* important required by IE7 */
    vertical-align: middle;
    width: 86px;
}

.t-upload-button input {
    cursor: pointer;
    filter: alpha(opacity=0);
    font: 200px monospace !important; /* The input font size and family are critical for the operation of the Upload */
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.t-state-disabled .t-upload-button input { cursor: default; }

#attachments { height: 75px; }

t-upload-selected {
    background-color: #60a917 !important;
    color: #ffffff !important;
    font-size: 100%;
    overflow: hidden !important; /* important required by IE7 */
    padding-top: 100px;
    vertical-align: middle;
    width: 86px;
}

.t-upload-files {
    border-style: solid;
    border-width: 1px;
    line-height: 1.9em;
    margin: .2em 0 0;
    padding: .3em .7em .5em;
    width: 200px;
}

.t-upload-files .t-button {
    font-size: 84%;
    margin-bottom: 8px;
    margin-left: 8px;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    top: 1px;
}

* + html .t-upload-files .t-button { line-height: 1; }

/*IE7*/

* html .t-upload-files .t-button { line-height: 1; }

/*IE6*/

.t-upload .t-delete, .t-upload .t-cancel, .t-upload .t-retry {
    height: 8px;
    vertical-align: baseline;
}

.t-upload .t-delete, .t-upload .t-cancel {
    background-position: -5px -292px;
    width: 7px;
}

.t-retry {
    background-position: -66px -228px;
    width: 11px;
}

.t-success {
    background-position: -64px -240px;
    color: forestgreen;
    margin: 10px;
}

.t-fail { background-position: -64px -256px; }

.t-filename {
    -o-text-overflow: ellipsis;
    display: inline-block;
    max-width: 200px;
    min-width: 120px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    zoom: 1;
}

* html .t-filename {
    display: inline;
    margin: 5px;
    width: 200px;
}

* + html .t-filename { display: inline; }

.t-progress, .t-progress-status {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-repeat: repeat-x;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    bottom: -2px;
    height: 2px;
    left: 0;
    position: absolute;
    width: 118px;
}

.t-progress-status {
    bottom: -1px;
    left: -1px;
    width: 50%;
}

.t-button {
    background-color: #F0F0F0;
    border: 0;
    height: 24px;
    margin: 0;
    min-height: 1px;
    min-width: 1px;
    padding: 0;
    right: 5px;
    right: 4px;
    top: 5px;
    z-index: 2;
}

li { list-style-type: none; }

.t-dropzone-active,
.t-upload-files { border-color: #e5e5e5; }

.t-dropzone-hovered,
.t-upload-files { background-color: #e5e5e5; }

.t-dropzone em { color: #9b9b9b; }

.t-progress {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.t-progress-status {
    background-color: #309b46;
    border-color: #309b46;
}