@model Invest.Common.Model.Project.Project

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Проект помещен на карту</title>
    </head>
    <body>
        <div>
            @Model.Name
        </div>
    </body>
</html>