@model Investmogilev.Infrastructure.Common.Model.Project.Project

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Отклик на проект</title>
    </head>
    <body>
        <div>
            Вы заитерисовались проектом @Model.Name.
        </div>
    </br>
        <div>
            Ждите с вами скоро свяжутся
        </div>
    </body>
</html>