
@media (min-width: 980px) {
  body {
    padding-top: 20px;
  }
}
.map-container {
    height: 760px;
    max-width: none;
    !important width: auto;
    !important display:inline;
    !important;
}

.displayTitle {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0.00em;
    font-size: 20pt;
    line-height: 24pt;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12pt;
}

.hidden {
    visibility: hidden;
}

img {
    max-width: none;
}

#left {
}

#mid {
    height: 760px;
}

#right {
}

#inner {
    height: 760px;
}

#footer {
    min-height: 100px;
    background-color: #ffff00;
}

.project {
    min-height: 100px;
    background-color: #808080;
}

#googft-info-window {
    visibility: hidden;
}

#googft-mapCanvas {
    height: 760px;
    margin: 0px;
    padding: 0;
}
