@model Investmogilev.Infrastructure.Common.Model.Project.Project

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Заполнен  проект</title>
    </head>
    <body>
        <div>
            Был заполнен проект @Model.Name.
        </div>
    </body>
</html>