@model Investmogilev.Infrastructure.Common.Model.Project.Project
@{
    ViewBag.Title = "WorkFlowForProject";
}
<h3>Прогресс по проекту @Model.Name</h3>
@{ Html.RenderAction("WorkFlowForProjectPartial", "BaseProject", new {id = Model._id}); }