@{
    ViewBag.Title = "Создать проект";
}
<h2>Создание проекта</h2>
<div>
    @Html.ActionLink("К всем проектам", "All", null, new { @class = "icon-arrow-left-3 fg-darker big" })
</div>
</br>
<div class="balloon top">
    <p>Необходимо заполнить проект всей необходимой информацией.</p>
    <p>Так же крайне важно проверить адрес так, как не известно является ли он верным и отобразится на карте.</p>
</div>

<script>
    loadPolymorhCreate = function (type) {
        var link = '/BaseProject/Create' + type + 'Project/';
        $('#polymorphicEdit').html("загружается...");
        $.get(link, function (data) {
            $('#polymorphicEdit').html(data);
            $('#polymorphicEdit').show();
        });
    }
</script>
<script src="~/Scripts/tag-it.min.js"></script>
<style>
    #container {
        width: 95%;
    }

    #polymorphicEdit {
        float: left;
        margin-left: 10px;
        width: 99%;
    }
</style>
<div id="container">
    <div>
        <div class="input-control radio">
            <label>
                <input type="radio" name="r1" onchange="loadPolymorhCreate('GreenField')" />
                <span class="check"></span>
                Участок
            </label>
        </div>
        <div class="input-control radio">
            <label>
                <input type="radio" name="r1" onchange="loadPolymorhCreate('UnUsedBuilding')" />
                <span class="check"></span>
                Неиспользуемое здание
            </label>
        </div>
    </div>
    <div id="polymorphicEdit">Выберите тип проекта</div>
</div>