@using Invest.Common.State
@model IEnumerable<Invest.Common.Model.ProjectModels.Project>
@{
    ViewBag.Title = "Мои проекты";
}
<h2>Мои проекты</h2>

<div class="accordion" data-role="accordion">
    @foreach (var project in Model.OrderBy(t => (int)(t.WorkflowState.CurrenState)).Reverse())
    {
        Html.RenderAction("WorkFlowForProjectPartial", "BaseProject", new { id = project._id });
    }
</div>
<script type="text/javascript">
</script>
