@using InvestPortal.Controllers
@model IEnumerable<Invest.Common.Model.ProjectModels.Project>
@{
    ViewBag.Title = "Мои проекты";
}
<h2>Мои проекты</h2>

@Html.Telerik().Grid(Model).Name("Projects").DataKeys(keys =>
    {
        keys.Add(p => p._id);
    }).ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Text).ImageHtmlAttributes(new { style = "margin-left:0" })).DataBinding(dataBinding => dataBinding.Ajax()
                                                             .Select("_SelectAjaxEditingIndex", "BaseProject")
                                                                 .Insert("_InsertAjaxEditing", "BaseProject")
                                                                 .Update("_SaveAjaxEditing", "BaseProject")
                                                                 .Delete("_DeleteAjaxEditing", "BaseProject")).Columns(columns =>
                {
                    columns.Bound(p => p.Name).Title("Имя проекта");
                    columns.Bound(p => p.Description).Title("Описание проекта");
                    columns.ForeignKey(p => p.Region, (IEnumerable<BaseProjectController.NestedRegionViewModel>)ViewBag.Regions, "RegionName", "RegionName").Title("Регион");
                    columns.Bound(p => p.AddressName).Title("Адресс");
                    columns.Bound(p => p.WorkflowState.CurrenState).Title("Текущее состояние");
                    columns.Command(commands => commands.Custom("Статус проекта").Action("WorkFlowForProject", "BaseProject").ButtonType(GridButtonType.Text).Text("Статус проекта"))
                        .Title("Команды");
                }).Editable(editing => editing.InsertRowPosition(GridInsertRowPosition.Top).Mode(GridEditMode.InLine)).Pageable().Scrollable(c => c.Height("100%")).Sortable().Selectable().Localizable("ru-RU").Groupable().Filterable()
