@using Telerik.Web.Mvc.Extensions
@model Investmogilev.UI.Portal.Models.PartialTableViewModel
<link href="~/Scripts/fooTable/footable.metro.min.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.sparkline.min.js"></script>
<script src="~/Scripts/fooTable/footable.js"></script>
<script type="text/javascript">
	$(function () {
		/* Use 'html' instead of an array of values to pass options
        to a sparkline with data in the tag */
		$('.inlineline').sparkline('html', { type: 'line', width: '250px' });
		$('.inlinebar').sparkline('html', { type: 'bar', barWidth: '20px' });
		$('.bullet').sparkline('html', { type: 'bullet', width: '150px' });
		$('.footable').footable();
	});

	var loadRegion = function(regionName, idRegion) {
		var id = '#' + idRegion;
		if (!$(id).html()) {
				$(id).html("<h3>Подождите данные загружаются</h3>");
				$.get('PartialTableRegion/' + regionName, function(data) {
					$(id).html(data);
				});
			} else {
				$(id).html('');
			}
	};
</script>
<table class="footable" data-page-size="20" data-filter-timeout="1000">
	<tbody>
		@foreach (var region in Model.Regions)
		{
			<tr>
				<td colspan="4" onclick="loadRegion('@region.RegionName', '@region.RegionName.GetHashCode().ToString()')">
					@region.RegionName
					<div id="@region.RegionName.GetHashCode().ToString()"></div>
				</td>
		</tr>
		}
	</tbody>
	<tfoot class="hide-if-no-paging">
		<tr>
			<td colspan="5">
				<div class="pagination pagination-centered"></div>
			</td>
		</tr>
	</tfoot>
</table>
